//FOR TYPOGRAPHY
$fontFam: "Nunito";

//FOR COLORS
$primary: #ffffff;

$secondary: #b14ee0;
$secondary-light: #d9a8f0;

$tertiary: #404040;
$quaternary: rgba(0, 0, 0, 0.49);
$quinary: #ff0000;
$senary: #29a329;

$primary-grey: #e5e5e5;
$secondary-grey: #d3d1d1;
$tertiary-grey: #fafafa;
$quaternary-grey: #e2e2e2;
$quinary-grey: #bfbfbf;
$senary-grey: #818181;

//FOR MEDIA QUERIES
$spec_scrn: 1481px;

$extra_large_scrn: 1400px;
$large_scrn: 1200px;

$extra_medium_scr: 992px;
$medium_scrn: 768px;

$small_scrn: 575px;
$extra_small_scrn: 375px;
