.menu-section {
  @extend .profile-section;
  @include display-flex(unset, center, center);
  padding: unset;
  height: 93.5vh;
}

.menu {
  @include display-flex(row, unset, unset);
  width: 100%;
  height: 93.5vh;

  &-sidebar {
    @include display-flex(column, unset, flex-start);
    @include paddings(40px, 40px);
    border-right: 1px solid $quaternary-grey;
    width: 21%;
    height: 93.5vh;
    position: absolute;
    overflow-x: hidden;
    z-index: 1;

    &-back-wrpr-link {
      @include display-flex(row, unset, center);
      @include borders(0px, unset, unset, none, 0);
      @include text-format(
        $secondary,
        fontSize("large_small"),
        fontWeight("semi_bold"),
        unset,
        unset
      );
      background-color: transparent;
      cursor: pointer;

      &-icon {
        margin-right: 10px;
      }
    }

    &-add-wrpr {
      @extend .signIn-content-form-wrpr;
      margin-top: 30px;

      &-inpts {
        @extend .signIn-content-form-wrpr;
        margin-top: unset;
        margin-bottom: 20px;

        &-lbl {
          @include text-format(
            $secondary-grey,
            fontSize("medium-small"),
            fontWeight("semi_bold"),
            left,
            unset
          );
          transition: all 0.2s;
        }

        &-inpt {
          @include borders(2px, solid, $secondary-grey, none, 12px);
          @include text-format(
            $tertiary,
            fontSize("medium-large"),
            fontWeight("regular"),
            left,
            unset
          );
          @include paddings(11px, 10px);
          width: 100%;
          background-color: $primary;
          margin-top: 6px;
          transition: border 0.2s;
        }

        &:focus-within &-lbl {
          @include text-format(
            $secondary,
            fontSize("medium-small"),
            fontWeight("semi_bold"),
            left,
            unset
          );
        }

        &:focus-within &-inpt {
          @include borders(2px, solid, $secondary, none, 12px);
        }
      }
    }

    &-btn-wrpr {
      @extend .signIn-content-form-frgt;

      &-sbmt {
        @extend .signIn-content-form-frgt-sbmt;

        &-icon {
          margin-left: 10px;
        }

        &:hover .fa-chevron-right {
          color: $secondary;
        }
      }

      &-sbmt-save {
        @extend .signIn-content-form-frgt-sbmt;
        display: none;
      }
    }
  }

  &-content {
    @include display-flex(column, unset, unset);
    padding: 40px 40px 20px 60px;
    width: 100%;
    margin-left: 22%;
    overflow-y: auto;
    height: 93.5vh;

    &-item {
      @include display-flex(column, unset, unset);
      margin: 20px;

      &-parent {
        @include display-flex(row, center, center);
        @include borders(0, unset, unset, none, 12px);
        @include box-shadow(0px, 0px, 24px, rgba(49, 16, 65, 0.08));
        @include paddings(15px, 15px);
        width: 100%;
        height: 50px;
      }

      &-child {
        @extend .menu-content-item-parent;
        align-self: flex-end;
        width: 95%;
        height: 50px;
        margin-top: 20px;
      }

      &-edit-txt {
        @include text-format(
          $tertiary,
          fontSize("medium-large"),
          fontWeight("semi_bold"),
          unset,
          unset
        );
        @include paddings(0px, 20px);
        flex-grow: 1;
      }

      &-edit {
        padding-top: 0.5%;
        display: none;
      }
    }
  }
}

//FOR BACK BUTTON ACTIVE

.backActive {
  transition: 0.5s;
  transform: rotateY(360deg);
}
.dragging {
  background-color: rgba(204, 127, 255, 0.644);
}
